h2{
  color:aqua;
  margin:auto;
  width: 90%;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
    
}

button{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10%;
    position: inherit;

}

#solito{
    text-align: center;
    text-decoration: aqua;
    padding-top: 50px;
    padding-bottom: 50px;

}

.form-group{
    padding: auto;
    text-align: left;

}


.form-control{
    padding: auto;
    text-align: end;
}


.list-unstyled{
    padding-bottom: 20px;
    padding-top: 20px;
}